.building__community {
    text-align: center;
}
.building__community__title {
    margin: 0;
    padding: 10px;
    font-size: 40px;
}
.building__community__button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    color: white;
    background-color: hotpink;
    margin-top: 40px;
}