.community {
    padding: 10px;
    text-align: center;
}
.community__info__icon {
    width: 90px;
}
.community__info {
    text-align: start;
    padding: 50px;
}
.community__subtitle {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 34px;
}
.community__formed,
.community__message__sent {
    margin: 0;
    font-size: 50px;
    font-weight: 900;
}
@media (min-width: 1114px) {
    .community__info__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}