html {
    font-family: "Poppins";
    color: darkslategray;
}
body {
    margin: 0;
}
.masthead,
footer {
    padding: 50px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
button {
    cursor: pointer;
}
img {
    width: 100%;
}
footer {
    background-color: darkslategray;
    color: white;
}