.contacts__signin__form {
    padding-top: 50px;
    padding-bottom: 50px
}
.contacts__signin__form__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 32px;
}
.contacts__signin__form__description {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 21px;
}
.contacts__form {
    display: flex;
    flex-direction: column;
}
.contacts__form__input {
    padding: 30px;
    border: none;
    border-radius: 15px;
}
.contacts__subscribe__button {
    padding: 30px;
    border: none;
    width: 300px;
    border-radius: 15px;
    background-color: hotpink;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 30px;
    margin-left: 175px;
}
.contacts__media__list__icon {
    width: 50px;
}