.contacts__list__content {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #00252E;
    color: white;
}
.contacts__media__list__icon,
.media__address__icon {
    width: 60px;
} 
.contacts__list::before {
    content: '';
    background-image:url("../img/bg-footer-top-mobile.svg") ;
    display: block;
    width: 100%;
    padding-top: 13%;
    background-repeat: no-repeat;
    background-size:  cover;
}
.contacts__form {
    padding-top: 30px;
    padding-bottom: 30px;
}
.contacts__form__input {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 15px;
    border: none;
}
.contacts__form__button__container {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}
.contacts__subscribe__button {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    border-radius: 15px;
    background-color: hotpink;
    color: white;
    border: none;
}
.contacts__media__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contacts__media__list__item {
    padding-left: 20px;
}
.contacts__media__address__list {
    margin: 0;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media (min-width: 768px) {
    .contacts__list::before {
        content: '';
        background-image:url("../img/bg-footer-top-desktop.svg") ;
        display: block;
        width: 100%;
        padding-top: 10%;
        background-repeat: no-repeat;
        background-size:  cover;
    }
    .contacts__form {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    .contacts__form__button__container {
        padding: 0;
    }
    .contacts__media__address__list__item {
        padding-right: 10px;
    }
    .contacts__list__content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 100px;
        padding-left: 100px;
        padding-right: 100px;
    }
}