.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}
.header__button {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid hotpink;
    border-radius: 50px;
    background-color: white;
    font-size: 14px;
    color: hotpink;
    text-shadow: 1px 1px 2px hotpink;
    box-shadow: 1px 1px 1px hsl(322, 100%, 66%);
}
@media (min-width: 768px) {
    .header__content {
        padding-left: 100px;
        padding-right: 100px;
    }
}