.masthead__header__content {
    padding: 50px;
    text-align: center;
}
.masthead__button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    border-radius: 50px;
    background-color: hotpink;
    color: white;
    font-size: 18px;
    box-shadow: 5px 5px 5px gainsboro;
}
@media (min-width: 768px) {
    .masthead__header__content {
        padding: 100px;
    }
    .masthead__introduction {
        padding-left: 300px;
        padding-right: 300px;
    }
}