$primary-font-family: "Open Sans";
$second-font-family: "Poppins";
$font-weight: 400;
$flex-gap: 100px;
$button-color: hsl(321, 100%, 78%);
$mobile-padding: 50px;
$desktop-padding: 100px;
$primary-color: #00252E;
$list-style: none;
$text-decoration: none;