html {
  font-family: "Poppins"; }

body {
  margin: 0; }

.container {
  padding: 50px; }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  width: 100%; }

.container__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px; }

h1 {
  margin: 0; }

.container__header__button {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid hotpink;
  background-color: transparent;
  border-radius: 50px;
  font-size: 18px;
  color: hotpink; }

.masthead__header {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }

.masthead__title {
  color: darkslategrey;
  font-size: 38px;
  font-weight: bold;
  margin: 0;
  padding: 10px; }

.masthead__introduction {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  color: darkslategrey; }

.masthead__button {
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  border-radius: 50px;
  background-color: hotpink;
  color: white;
  font-size: 18px;
  margin-top: 50px; }
