html {
  font-family: "Poppins";
  color: darkslategray; }

body {
  margin: 0; }

.masthead,
footer {
  padding: 50px; }

li {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

button {
  cursor: pointer; }

img {
  width: 100%; }

footer {
  background-color: darkslategray;
  color: white; }

.container__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px; }

h1 {
  margin: 0; }

.container__header__button {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid hotpink;
  background-color: transparent;
  border-radius: 50px;
  font-size: 18px;
  color: hotpink; }

.masthead__header {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }

.masthead__title {
  color: darkslategrey;
  font-size: 38px;
  font-weight: bold;
  margin: 0;
  padding: 10px; }

.masthead__introduction {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  color: darkslategrey; }

.masthead__button {
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  border-radius: 50px;
  background-color: hotpink;
  color: white;
  font-size: 18px;
  margin-top: 50px; }

.community {
  padding: 10px; }

.community__info__icon {
  width: 50px; }

.services {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 100px; }

.services__title {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 32px;
  font-weight: bold; }

.services__list {
  text-align: center; }

.services__description {
  margin: 0;
  padding: 10px;
  font-size: 17px;
  font-weight: 500; }

.building__community {
  text-align: center; }

.building__community__title {
  margin: 0;
  padding: 10px;
  font-size: 40px; }

.building__community__button {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  color: white;
  background-color: hotpink;
  margin-top: 40px; }

.contacts__signin__form__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 32px; }
